*{
    Margin: 0; /*deixa a margem esquerda e direita nula*/
    padding: 0%; /*deixa a margem superior e inferior nula*/
    box-sizing: border-box;/*cria uma caixa invisível para o corpo do site*/

}

.topo{
    background-color: rgb(229, 165, 255) ;  /*cor do fundo do site*/
    height: 15vh; /*tamanho do topo do site da tela*/
}

.Conteudo {
    background-color: rgba(157, 20, 211, 0.945) ;    /*cor do fundo do site*/
    height: 85vh; /*tamanho do topo do site da tela*/
}


